* {
  padding: 0;
  margin: 0;
}

#canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
.gravity {
  position: absolute;
  top: 50px;
  left: 50px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.4em;
}
.gravity input {
  transform:scale(1.3);
}